.footer {
	color: #D6D6D6;
	background: #0a1217;
	font-size: .9em;
	a {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
	.navigator {
		background: #252B31;
		padding: 1em 0;
		.breadcrumb {
			font-size: .9em;
			.breadcrumb-item {
				a {
					color: #b3b3b3;
				}
				&.active {
					color: #fff;
				}
			}
		}
	}

	.announcement {
		background: rgba(255,23,88,1);
		background: -moz-linear-gradient(top, rgba(255,23,88,1) 0%, rgba(255,27,80,1) 99%, rgba(255,27,80,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,23,88,1)), color-stop(99%, rgba(255,27,80,1)), color-stop(100%, rgba(255,27,80,1)));
		background: -webkit-linear-gradient(top, rgba(255,23,88,1) 0%, rgba(255,27,80,1) 99%, rgba(255,27,80,1) 100%);
		background: -o-linear-gradient(top, rgba(255,23,88,1) 0%, rgba(255,27,80,1) 99%, rgba(255,27,80,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,23,88,1) 0%, rgba(255,27,80,1) 99%, rgba(255,27,80,1) 100%);
		background: linear-gradient(to bottom, rgba(255,23,88,1) 0%, rgba(255,27,80,1) 99%, rgba(255,27,80,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1758', endColorstr='#ff1b50', GradientType=0 );
	    a {
			display: block;
			padding: 1em;
			text-align: center;
			vertical-align: middle;
	    	color: #fff;
    		text-decoration: none;
    		font-size: 1rem;
	    	&:hover {
	    		color: #fff;
	    	}
		    i {
		    	color: #ff1758;
		    	background-color: #fff;
		    	margin-right: .25em;
		    	border: 1px solid #ff1758;
		    	border-radius: 4px;
		    	padding: .3em;
		    }
	    }
	}

	.corporate {
		background: #252B31;
		border-top: 1px solid lighten(#252B31, 6%);
		padding: 1em 0;
		.logo {
			margin: 0;
			text-align: center;
			i {
				display: block;
				font-size: 2.5em;
				margin-bottom: .25rem;
			}
			span {
				font-size: 1.25em;
			}
		}
		.cookies {
			border-top: 1px solid lighten(#252B31, 6%);
			font-size: .9em;
			margin: 1em 0 0 0;
			padding: 1em 0;
			text-align: center;
		}
		.legal {
			border-top: 1px solid lighten(#252B31, 6%);
			text-align: center;
			.menu {
				font-size: .9em;
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					padding: 1em .5em 0 .5em;
					&:first-child {
						padding-left: 0;
					}
				}
			}
		}
	}
	.social {
		text-align: center;
		ul {
			list-style: none;
			padding: 0;
			li {
				display: inline-block;
				padding: 0 1em;
			}
		}
	}
	.bottom-fixed {
    	background: #0a1217;
    	border-top: 1px solid #252B31;
    	bottom: 0;
    	padding: .25em 0;
		position: fixed;
		text-align: center;
    	width: 100%;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}